<div class="container text-center " style="height:100vh" >

  <div class="row">
    <!--<div class="col-lg-2"></div>-->
    <div class="col-sm-12 col-lg-8" style="position: absolute;top: 50%;left: 50%; transform: translate(-50%,-50%)">
      <div class="card" style="margin: auto;display: block">
        <div class="card-body">

          <h5 class="card-title py-2" >¡HOLA!</h5>
          <img src="assets/img/memoria-01.png" style="width: 250px">

          <div class="d-flex flex-row justify-content-center">

            <a routerLink="/QuieroJugar" class="btn btn-primary mx-2 px-4 " >
              <strong>
                ¡QUIERO JUGAR!
              </strong>
            </a>

            <a routerLink="/ModoRelax" class="btn btn-primary mx-2 px-4 ">
              <strong>
                ¡MODO RELAX!
              </strong>

            </a>

          </div>

        </div>
      </div>
    </div>
    <div class="col-2"></div>

  </div>
</div>

<div class="footer" style="background-color: black; text-align: center;margin: 0px">
  <p  style="color: white; margin: 0px">Prueba Carlos Icaza Guamba - Agosto 2022 - Ⓒ caicaza</p>
</div>
